.Comments {
    max-width: 600px;
    padding: 15px;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    margin: 10px auto;
    text-align: left;
    color: #5f5f5f;
}

h5 {
    margin: .2em 0;
    font-size: 1em;
}

.Comments p {
    margin: 0;
}